<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <connectionStrings>
    <add name="tn" connectionString="Server=BA-SERVER;Database=Teilnehmer_innen;Integrated Security=true" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" />
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Detailed" />
  </system.webServer>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="WebHttpBehavior">
          <webHttp defaultOutgoingResponseFormat="Json" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="WebApp.SQL">
        <endpoint address="" behaviorConfiguration="WebHttpBehavior" binding="webHttpBinding" contract="WebApp.ISQL"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>